/* GENERAL FORMATTING ======================================= */
@font-face {
    font-family: "Gotu";
    src:url(Gotu-Regular.ttf)
  }


html, body {
    margin: 0;
    font-family: "Gotu";
    overflow-x: hidden;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.marble {
    background-image: url(images/blue-marble.jpg);
    background-size: 15%;
    background-attachment: fixed;
}

h1 {
    margin: 2vw
}

/* .blocked {
    color: black;
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 1vw;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(93, 7, 214, 0.2);
    background-color: rgb(86, 239, 81);
    border-style: outset;
} */

.block {
    color: black;
    background-color: white;
    padding: 2vh 2vw;
}

p {
    margin: 0;
}

p a {
    color: blue;
    text-decoration: none;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.border-glower {
    animation-name:border-glow;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

@keyframes border-glow {
    0% {border-color: rgba(255, 255, 255);}
    80% {border-color: rgba(255, 255, 255);}
    100% {border-color: rgba(255, 241, 111, 0.8);}
}

.background-glower {
    animation-name:background-glow;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

@keyframes background-glow {
    0% {background-color: rgb(84, 152, 255);}
    80% {background-color: rgb(84, 152, 255);}
    100% {background-color: rgba(255, 241, 111, 0.2);}
}

.background-glower {
    animation-name:background-glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* HOME PAGE ======================================= */

#homepage {
    background-image: url(images/lacdepassy.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#homepage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    width: 10%;
}

#homepage h1 {
    display: table;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 1vw auto 0 auto;
    padding: 5px 10px 5px 10px;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

#homepage p {
    display: table;
    color: white;
    text-align: center;
    margin: 0 auto 1vw auto;
    padding: 0 10px;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

#homelinks {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 1% 0;
    white-space: nowrap;
    flex-wrap: wrap;
}

#homelinks a {
    margin: 0;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0 0.5vw;
    border: 2px white solid;
    border-radius: 50px;
}

/* NAV BAR ======================================= */

#navBar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: rgb(57, 134, 230);
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink a {
    color: white;
    text-decoration: none;
}

.navLink:hover {
    background-color: rgb(47, 124, 220);
    /* font-size: 1.1em; */
}

.dropdown {
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(57, 134, 230);
    width: 110%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > div:hover {
    background-color: rgb(47, 124, 220);
    transition: all linear 0.3s;
}

.dropdown-content > div > a {
    padding: 0 10%;
}

.navStart {
    grid-column: 9;
}

.name {
    grid-column: 2;
    font-size: 30px;
    padding: 8px 0;
}

.name a {
    float:left;
    color: white;
    text-decoration: none;
}

/* PORTFOLIO ======================================= */

/* Entire grid */
.portfolio-display {
    background-color: white;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh;
    row-gap: 10%;
    padding: 2% 0 15% 0;
    justify-items: center;
    overflow: hidden;
}

/* Pic+Label combo div */
.portfolio-pic-label {
    width: 50vh;
    height: 50vh;
    max-width: 50vw;
    max-height: 50vw;
    position: relative;
    display: flex;
    white-space: nowrap;
}

.pic-label-offset {
    top: 25%;
}

/* Image */
.portfolio-icon {
    height: 100%;
    border-radius: 100%;
    aspect-ratio: 1;
    transition: 1s;
}

/* Labels */
.label-right {
    z-index: 10;
    font-size: 2vw;
    position: absolute;
    border: 3px solid black;
    background: white;
    border-radius: 10px;
    padding: 0 10px 0 0;
}

.label-right a, .label-left a{
    text-decoration: none;
    color: inherit;
}

.label-left {
    z-index: 10;
    font-size: 2vw;
    position: absolute;
    border: 3px solid black;
    background: white;
    border-radius: 10px;
    padding: 0 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .portfolio-icon:hover {
        transform: scale(1.1, 1.1) rotate(8deg);
        cursor: pointer;
        box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .label-right {
        bottom: 10%;
        left: 90%;
    }

    .label-left {
        top: -10%;
        right: 80%;
    }
}

/* Data analysis slides */
.slide-container {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    align-items: center;
    background-color: white;
}
#leftButton, #rightButton {
    width: 100%;
}

.grandparent {
    overflow-x: hidden;
    overflow-y: hidden;
}
    
.parent {
    display: grid;
    grid-template-columns: 70vw 70vw 70vw 70vw 70vw 70vw;
    width: 600%;
    column-gap: 10vw;
    padding: 5% 5vw;
}
      
.child {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: justify;
    /* border: 2px dashed black; */
}

.child > img {
    max-width: 100%;
    margin: 0 auto;
}

.child p {
    padding: 0 5%;
}

.charts {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    column-gap: 20px;
    text-align: justify;
}

.data-analysis-chart {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
}

.machine-learning-chart {
    width: 49%;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
}

.chart-text {
    display: flex;
    align-items: center;
    padding: 0 0vw;
}

video {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border: 5px solid white;
    border-radius: 5px;
    border-style: ridge;
}

.title {
    text-align: center;
}

.sbs {
    width: 48%;
}

.writeup {
    background-color:white;
}

.writeup > p {
    padding: 30vh 3vw;
}

#web-design-page img {
    margin: 0 10%;
    width: 80vw;
}

.rotate-cw {
    color: white;
    text-align: center;
    width: 45vw;
    transform-origin: 0 0;
    transform: rotate(90deg);
    background-color: skyblue;
    position: relative;
    left: 10%;
    top: 67px;
    letter-spacing: 10px;
    font-size: 40px;
}

/* RESUME ======================================= */
#resume-page p {
    padding: 0 3vw;
}

.container {
    display: flex;
}

.lsection {
    flex-basis: 33%;
    background-color: rgb(84, 152, 255);
}

.lsection h2 {
    padding: 0 5%;
    /* text-decoration-line: underline; */
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
    border-radius: 100px;
}

/* .lsection h2:after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
} */

.lsection a {
    color: white;
}

.lsection ul {
    padding: 0 12%;
}

.rsection {
    flex-basis: 67%;
    background-color: rgb(145, 189, 255);
}

.rsection h2 {
    padding: 0 10%;
    margin: 0;
    background-color: rgb(84, 152, 255);
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
}

.rsection h3 {
    background-color: rgb(139, 186, 255);
    padding: 0 2%;
    margin: 0;
}

.rblock {
    margin: 0;
    padding: 0;
    border-left: 2px rgba(0, 0, 0, 0.2) solid;
}

/* ABOUT ======================================= */
#about-page p {
    padding: 3vw;
}

#about-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    transition: all linear 0.2s;
}

#about-page img:hover {
    filter: brightness(0.3);
}

.about-image-with-text {
    position: relative;
    float: left;
    overflow: hidden;
    width: 30vw;
    padding: 3vh 1.3vw;
    height: 100vh;
    color: rgba(255,255,255,0);
    transition: all linear 0.2s;
}

.about-image-with-text:hover {
    color: rgba(255,255,255,0.8);
}

.about-image-with-text > p {
    position: absolute;
    top: 0;
    left: 0;
}